<h2>By Country</h2>
<hr>

<div class="row">
    <div class="col">
        <form autocomplete="off" (ngSubmit)="search()">
            <input type="text" name="search" class="form-control" placeholder="Searh country..." [(ngModel)]="term">
        </form>
    </div>
</div>

<hr>

<div class="row">
    <div class="col">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Flag</th>
                    <th>Name</th>
                    <th>Population</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><a href="">Show...</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>